<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>До и после</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame" style="width:1080px;height:1080px">
<div class="glow tr"></div><div class="glow bl"></div>
<div class="inner">
<h1>Переезд из таблиц<br>в <span class="hl">один процесс</span></h1>
<div class="ba">
  <div class="col"><div class="tag">Было</div><ul>
    <li>4 таблицы и общий чат</li><li>Статус спрашивают голосом</li>
    <li>Сроки живут в голове</li><li>Отчёт собирают руками</li></ul></div>
  <div class="col after"><div class="tag">Стало</div><ul>
    <li>Одна доска на команду</li><li>Статус видно на карточке</li>
    <li>WIP-лимит держит поток</li><li>Отчёт собирается сам</li></ul></div>
</div>
<div class="foot"><div class="cta">Собрать процесс <span>&#8594;</span></div>
<img class="logo" src="kaiten-logo.svg" alt="Kaiten"/></div>
</div></div></body></html>
