<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Крупная цифра</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame" style="width:1080px;height:1080px">
<div class="glow tr"></div><div class="glow bl"></div>
<div class="inner">
<h1>Столько времени уходит<br><span class="hl">на статусы</span></h1>
<div class="big">
  <div class="num">18%</div>
  <div class="cap">эффективность потока в типовой команде: остальное задача просто ждёт</div>
</div>
<div class="foot"><div class="cta">Посмотреть метрики <span>&#8594;</span></div>
<img class="logo" src="kaiten-logo.svg" alt="Kaiten"/></div>
</div></div></body></html>
