<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Финальная карточка кейса</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame lav" style="width:1080px;height:1080px">
<div class="inner">
<div class="head"><div class="kicker">Инструмент</div><div class="counter">Вывод</div></div>
<h1 class="h">Почему это работает<br><span class="hl">в Кайтене</span></h1>
<ul class="checks">
  <li>Переехали с Trello в 2023-м, привыкли быстро.
      <b>В Кайтен переехали все спринты: научные и менеджерские</b></li>
  <li>Есть теги, связи, графики, блокировки задач</li>
  <li>Особенно полезен <b>Телеграм-бот</b>: тегнули, есть уведомление на телефон,
      можно сразу зайти в карточку из чата</li>
</ul>
<div class="ctabar">
  <div><div class="t">Гельтек-Медика готовится к IPO</div>
       <div class="d">Читайте кейс о том, как навести порядок в управлении</div></div>
  <div class="go">&#8594;</div>
</div>
</div>
</div></body></html>
