<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Карточка кейса</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame lav" style="width:1080px;height:1080px">
<div class="inner">
<div class="head"><div class="kicker">Контекст</div><div class="counter">01 / 04</div></div>
<h1 class="h">Вырос &mdash; значит,<br><span class="hl">пора взрослеть</span></h1>
<div class="lead">За два года компания выросла из среднего в крупный бизнес.
Следующий шаг требует другой <b>управленческой зрелости</b></div>
<div class="numlist">
  <div class="row"><div class="n">1</div><div><div class="t">2023 &mdash; стали крупным бизнесом</div><div class="d">300 человек, две площадки: Москва и Подмосковье</div></div></div>
  <div class="row"><div class="n">2</div><div><div class="t">2025 &mdash; перешли порог 5 млрд оборота</div><div class="d">Больше тысячи человек, красный океан бок о бок с корпорациями</div></div></div>
  <div class="row"><div class="n">3</div><div><div class="t">2027 &mdash; выход на IPO</div><div class="d">Цель, ради которой перестраивается все управление</div></div></div>
</div>
<div class="foot"><img class="logo" src="kaiten-logo.svg" alt="Kaiten"/></div>
</div>
</div></body></html>
