<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Обложка кейса</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame" style="width:1080px;height:1080px">
<div class="inner">
<div class="tophead"><img class="logo" src="kaiten-logo.svg" alt="Kaiten"/><div class="kicker">Кейс</div></div>
<h1 class="h" style="margin-top:64px;font-size:74px">&laquo;Ошибаться можно &mdash; <span class="hl">врать нельзя</span>&raquo;</h1>
<div class="lead" style="margin-top:30px">Как Гельтек-Медика перестраивает процессы<br><b>под выход на IPO</b></div>
<div style="position:relative;margin-top:auto">
  <div class="shot violet"><div class="stub" style="height:360px">фото героя или производства</div></div>
  <div class="sticker" style="top:-46px;right:-30px">&#128640;</div>
</div>
</div>
</div></body></html>
