<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Сценка-чат</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame" style="width:1080px;height:1080px">
<div class="glow tr"></div><div class="glow bl"></div>
<div class="inner">
<h1>Знакомый диалог<br><span class="hl">каждый понедельник</span></h1>
<div class="chat">
  <div class="bub l"><span class="who">Руководитель</span>Что там по задаче, которую брали в среду?</div>
  <div class="bub r"><span class="who">Команда</span>Вроде в работе. Сейчас уточню у ребят</div>
  <div class="bub l"><span class="who">Руководитель</span>А кто ее вообще ведет?</div>
</div>
<div class="foot"><div class="cta">Показать на доске <span>&#8594;</span></div>
<img class="logo" src="kaiten-logo.svg" alt="Kaiten"/></div>
</div></div></body></html>
