<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Чек-лист</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame" style="width:1080px;height:1080px">
<div class="glow tr"></div><div class="glow bl"></div>
<div class="inner">
<h1>Как выбрать<br><span class="hl">таск-трекер</span></h1>
<div class="check">
  <div class="row"><span class="ck">&#10003;</span><span class="tx">В <b>реестре</b> отечественного ПО</span></div>
  <div class="row"><span class="ck">&#10003;</span><span class="tx">Ставится на <b>свой сервер</b>, данные в контуре</span></div>
  <div class="row"><span class="ck">&#10003;</span><span class="tx">Закрывает <b>все процессы</b>, не одну доску</span></div>
  <div class="row"><span class="ck">&#10003;</span><span class="tx">Встроенный <b>перенос данных</b> с историей</span></div>
  <div class="row"><span class="ck">&#10003;</span><span class="tx">Реальные внедрения <b>на масштабе</b></span></div>
</div>
<div class="foot"><div class="cta">Сверить с Кайтеном <span>&#8594;</span></div>
<img class="logo" src="kaiten-logo.svg" alt="Kaiten"/></div>
</div></div></body></html>
