<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Карточка дайджеста</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame" style="width:1080px;height:1080px">
<div class="inner">
<div class="head"><div class="kicker">Файлы</div></div>
<h1 class="h">Все файлы пространства<br><span class="hl">в одном месте</span></h1>
<div class="shot pad"><div class="stub">скриншот интерфейса</div></div>
<div class="cap">Новый раздел <b>&laquo;Файлы&raquo;</b>: ищите по названию, фильтруйте по типу,
автору и дате, скачивайте или переходите в карточку.</div>
<div class="foot"><img class="logo" src="kaiten-logo.svg" alt="Kaiten"/><div class="next">&#8594;</div></div>
</div>
</div></body></html>
