<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Обложка дайджеста</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame lav" style="width:1080px;height:1080px">
<div class="deco sq" style="top:-60px;left:-40px;width:270px;height:270px"></div>
<div class="deco sq" style="bottom:120px;right:-70px;width:230px;height:230px"></div>
<div class="deco sq" style="bottom:-50px;left:230px;width:150px;height:150px;opacity:.55"></div>
<div class="deco dots" style="top:80px;right:200px"></div>
<div class="deco dots" style="bottom:250px;left:120px"></div>
<div class="deco loop" style="top:190px;right:60px;width:180px;height:180px"></div>
<div class="deco loop" style="bottom:60px;left:-40px;width:210px;height:210px"></div>
<div class="inner">
<div class="cover">
  <h1 class="h"><span class="hl">Обновления</span><br>и исправленные <span class="hl">ошибки</span></h1>
  <div class="pill soft">дайджест</div>
  <div class="pill sun">17&ndash;21 августа</div>
</div>
</div>
</div></body></html>
