<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Сетка плиток</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame" style="width:1080px;height:1080px">
<div class="glow tr"></div><div class="glow bl"></div>
<div class="inner">
<h1>Что нового<br>в <span class="hl">дашбордах</span></h1>
<div class="grid">
  <div class="tile"><div class="e">&#128203;</div><div class="t">Копирование виджетов между дашбордами</div></div>
  <div class="tile"><div class="e">&#128269;</div><div class="t">Сохранение наборов фильтров</div></div>
  <div class="tile"><div class="e">&#127919;</div><div class="t">Фильтр по состоянию карточки</div></div>
  <div class="tile"><div class="e">&#128260;</div><div class="t">Итерации прямо в дашборде</div></div>
</div>
<div class="foot"><div class="cta">Посмотреть обновления <span>&#8594;</span></div>
<img class="logo" src="kaiten-logo.svg" alt="Kaiten"/></div>
</div></div></body></html>
