<!doctype html>
<html lang="ru"><head><meta charset="utf-8"/><title>Карточка обновления</title>
<link rel="stylesheet" href="kaiten.css"/></head>
<body data-w="1080" data-h="1080"><div class="frame" style="width:1080px;height:1080px">
<div class="inner">
<div class="head"><div class="kicker">Копирование виджетов</div><div class="counter">1 / 4</div></div>
<h1 class="h">Виджет копируется<br><span class="hl">в один клик</span></h1>
<div class="shot pad"><div class="stub">скриншот</div></div>
<div class="cap">Кнопка <b>&laquo;Копировать виджет&raquo;</b> в правом верхнем углу.
Копия создается с тем же названием и уже настроенными фильтрами.</div>
<div class="foot"><img class="logo" src="kaiten-logo.svg" alt="Kaiten"/><div class="next">&#8594;</div></div>
</div>
</div></body></html>
